* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

:root {
    --background-color: #0D0D0D;
    --text-color: white;
    --header-color: ##FF3B3B;
    --separator: white;
    --border-color: #333333;
}

.light-mode {
    --background-color: white;
    --text-color: #0d0d0d;
    --header-color: ##FF3B3B;
    --separator: #0D0D0D;
    --border-color: #333333;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h6 {
    font-family: 'Oswald';
}

.hero {
    width: 100%;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2vh 5vw;
    color: white;
}

.logo {
    width: 8vw;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 7vw;
}

ul li a:hover {
    color: #FF3B3B;
}

ul a {
    text-decoration: none;
    color: var(--text-color);
}

ul label {
    cursor: pointer;
}

nav label:hover {
    color: #FF3B3B;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the card without distortion */
    object-position: center;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));;
    gap: 5vw;
    justify-content: center;
}

.movies a {
    display: block;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 4.3vw;
    color: #FF3B3B;
    margin: 10vh 0;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 10vh auto;
}

.section-title h6 {
    font-size: 4vw;
    color: #FF3B3B;
}

.section-title .seperator {
    width:80%;
    height: 0.05rem;
    background-color: white;
}



.movies-container {
    width: 90%;
    margin: auto;
    padding: 10vh 0;
}

.movies .item {
    position: relative;
    border: solid 0.6em #333333 ;
}

.movies .item i {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movies .item:hover i {
    transition: 0.3 ease;
    opacity: 1;
}

.movies .item i:hover {
    transition: 0.3s ease;
    transform: translate(-50%, -50%) scale(1.1);
}

.movies .item:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.movies .item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    pointer-events: none; 
}

.movies .item:hover::before {
    background-color: rgba(255, 0, 0, 0.5);
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #080808;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: 60%;
    height: 1px;
    background-color: white;
}

footer p {
    color: white;
}



@media (max-width: 768px) {

    .logo {
        width: 20vw;
        cursor: pointer;
    }

    .section-title h6 {
        font-size: 6vw;
    }

    .section-title .seperator {
        width: 70%;
    }

    .movies {
        grid-template-columns: repeat(auto-fit, minmax(180px, 180px));;
    }

}

@media (max-width: 480px) {
    nav ul li {
        margin-right: 4vw;
    }
}

