* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --background-color: #0D0D0D;
    --text-color: white;
    --header-color: ##FF3B3B;
    --separator: white;
    --border-color: #333333;
}

.light-mode {
    --background-color: white;
    --text-color: #0d0d0d;
    --header-color: ##FF3B3B;
    --separator: #0D0D0D;
    --border-color: #333333;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
}

.hero {
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2vh 5vw;
    color: white;
}

.logo {
    width: 8vw;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 7vw;
}

ul li a:hover {
    color: #FF3B3B;
}

ul a {
    text-decoration: none;
    color: var(--text-color);
}

ul label {
    cursor: pointer;
}

nav label:hover {
    color: #FF3B3B;
}

.details-container { /* ///////////////////////////// */
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    gap: 3vw;    
    margin: 10vh auto;
    overflow: hidden;
}

.details-container h3, p {
    color: var(--text-color);
}

.details-container .poster {
    width: 100%;
    min-width: auto;
    aspect-ratio: 2 / 3;
    border: solid 0.5em #FF3B3B;
    overflow: hidden;
}

.details-container .poster img {
    aspect-ratio: 2 / 3;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.first-line {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.counter-container {
    margin-top: 2vh;
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: end;
}

.counter-container i {
    color: #FF3B3B;
    font-size: 3vw;
    transition: 0.3s ease;
}

.counter-container i:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.counter-container p{
    color: #FF3B3B;
    font-size: 2.5vw;
}

.first-line h3 {
    font-size: 5vw;
}

.seperator {
    height: 0.1em;
    background-color: var(--separator);
    margin: 3vh 0;
}

.movies-details p {
    font-size: 1.2vw;
}

.details-container .stars {
    display: flex;
    margin: 7vh 0 4vh;
}

.stars i {
    color: #FF3B3B;
    font-size: 2.6vw;
    transition: 0.3s;
}

.stars i:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.stars .fa-star.filled {
    color: gold;
}

.details-container textarea {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 1vh;
    resize: none;
    background-color: #333333;
    color: white;
    font-size: 1em;
}

.details-container textarea::-webkit-scrollbar {
    display: none;
}

.details-container button {
    width: 100%;
    height: 2.5em;
    margin-top: 1vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FF3B3B;
    color: white;
    font-size: 1.2em;
    transition: 0.3s ease;
}

.details-container button:hover {
    background-color: #fb6a27;
    transition: 0.3s ease;
}

.comment-container h4 {
    color: #FF3B3B;
    font-size: 4vw;
    text-align: center;
}

.comment-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.name, p {
    color: white;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 10vh auto;
}

.info {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.info p {
    opacity: 70%;
}

.comment-input {
    padding-left: 2vw;
    padding-top: 1vh;
    font-size: small;

}

.comment {
    background-color: #333333;
    border-radius: 10px;
    padding: 3vh 2vw;
    margin-bottom: 3vh;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #080808;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: 60%;
    height: 1px;
    background-color: white;
}

footer p {
    color: white;
}


@media (max-width: 768px) {
    .logo {
        width: 20vw;
        cursor: pointer;
    }

    .details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
    }

    .details-container h3 {
        font-size: 6vw;
    }

    .details-container p {
        font-size: 2.5vw;
    }

    .counter-container i {
        font-size: 5vw;
    }

    .counter-container p {
        font-size: 4.5vw;
    }



    .stars i {
        color: #FF3B3B;
        font-size: 4.5vw;
        transition: 0.3s;
    }

    .details-container textarea {
        height: 15vh;
        font-size: 1em;
    }

    .details-container button {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    /* Further reduce spacing and font sizes */
    nav ul li {
        margin-right: 4vw;
    }

    .details-container h3 {
        font-size: 7vw;
    }

    .details-container p {
        font-size: 4vw;
    }

    .details-container button {
        font-size: 1em;
    }
}