* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body {
    background-color: #0D0D0D;
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/bg.png);
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2vh 5vw;
    color: white;
}

.logo {
    width: 15vh;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 7vw;
}

ul li a:hover {
    color: #FF3B3B;
}

ul a {
    text-decoration: none;
    color: white;
}

ul label {
    cursor: pointer;
}

nav label:hover {
    color: #FF3B3B;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

h1 {
    color: white;
    font-size: 5vw;
    width: 50vw;
    text-align: center;
    line-height: 1.3;
}

h1 span {
    color: #FF3B3B;
    font-family: 'Oswald';
}

.search-bar {
    width: 35vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 10vh;
}

.row {
    display: flex;
    align-items: center;
    padding: 1.5vh 1.5vw;
}

.row input {
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1vw;
    color: #0D0D0D;
}

.row img {
    cursor: pointer;
    width: 5%;
    margin-left: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.slider-container i {
    color: white;
    font-size: 10vh;
    cursor : pointer;
    
}

.slider {
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.slider-wrapper {
    display: flex;
    gap: 20px; /* Space between cards */
    justify-content: space-around;
    align-items: center;
}

.slider .item {
    aspect-ratio: 2 / 3;
    height: 390px;
    min-width: 260px;
    flex-shrink: 0;
    border: solid 1vh #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the card without distortion */
    object-position: center;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));;
    gap: 5vw;
    justify-content: center;
}

h2 {
    font-size: 5vw;
    color: #FF3B3B;
}

.movies-container {
    width: 80%;
    margin: auto;
    padding: 10vh 0;
}

.movies .item {
    position: relative;
    border: solid 0.6em #333333 ;
}

.movies .item i {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movies .item:hover i {
    opacity: 1;
}

.movies .item i:hover {
    transition: 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

.movies .item:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.movies .item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.movies .item:hover::before {
    background-color: rgba(255, 0, 0, 0.5);
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background-color: #080808;
    align-items: center;
    justify-content: space-around;
}

footer div {
    width: 60%;
    height: 1px;
    background-color: white;
}

footer p {
    color: white;
}

